@font-face {
  font-family: 'gtfri';
  src: url('../webfonts/mateifont/GT-Flexa-Regular-Italic-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'gtfr';
  src: url('../webfonts/mateifont/GT-Flexa-Regular-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'gtfxebl';
  src: url('../webfonts/mateifont/GT-Flexa-X-Compressed-Bold-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gtfxebo';
  src: url('../webfonts/mateifont/GT-Flexa-X-Compressed-Black-Trial.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

h1 { 
  font-family: "gtfxebl";

  animation-name: name-translation;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes name-translation {
  0% { transform: translate(0);}
  100% { transform: translate(calc(-7.5em - 5px));}
}

h2 { 
  font-family: "gtfxebo";

  transform: translate(-100%);

  animation-name: job-translation;
  animation-timing-function: linear;
  animation-duration: 55s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes job-translation {
  0% { transform: translate(-100%);}
  100% { transform: translate(calc(-100% - 54em));}
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .8rem;
}
footer span.mailto {
  width: 25px;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-color: var(--accent);
    -webkit-mask-image: url(../images/mailcontact.svg);
    mask-image: url(../images/mailcontact.svg);
}

footer span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.description-container {
  font-family: 'gtfr';
}

.paralax {
  transition: transform 0.8s ease;
}
.paralax.back {
  z-index: -1;
  position: absolute;
  left: 55px;
  bottom: 0;
  width: 25vw;
  max-height: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--accent);

  /* required for animation */
  transform: translate(var(--paralax-back-offset));
}

.content img {
  transition: transform 1s ease;
  /* required for animation */
  transform: translate(var(--paralax-img-offset));
}

.paralax.front {
  position: absolute;
  bottom: 10%;
  right: 50%;
  width: 3vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--accent);

   /* required for animation */
   transform: translate(var(--paralax-front-offset));
}


/* Mouse tracker to animate img */
.content {
  /* min: -25px, max: 25px */
  --paralax-back-offset: 0;
  /* min: -15px, max: 15px */
  --paralax-img-offset: 0;
  /* min: -100px, max: 100px */
  --paralax-front-offset: 0;
}

.mouse-tracker {
  position: fixed;
  height: 100vh;
  width: calc(100vw / 20);
  z-index: 1;
}
.mouse-tracker:nth-of-type(1) { left: calc(((100vw / 20) * 0)); }
.mouse-tracker:nth-of-type(2) { left: calc(((100vw / 20) * 1)); }
.mouse-tracker:nth-of-type(3) { left: calc(((100vw / 20) * 2)); }
.mouse-tracker:nth-of-type(4) { left: calc(((100vw / 20) * 3)); }
.mouse-tracker:nth-of-type(5) { left: calc(((100vw / 20) * 4)); }
.mouse-tracker:nth-of-type(6) { left: calc(((100vw / 20) * 5)); }
.mouse-tracker:nth-of-type(7) { left: calc(((100vw / 20) * 6)); }
.mouse-tracker:nth-of-type(8) { left: calc(((100vw / 20) * 7)); }
.mouse-tracker:nth-of-type(9) { left: calc(((100vw / 20) * 8)); }
.mouse-tracker:nth-of-type(10) { left: calc(((100vw / 20) * 9)); }
.mouse-tracker:nth-of-type(11) { left: calc(((100vw / 20) * 10)); }
.mouse-tracker:nth-of-type(12) { left: calc(((100vw / 20) * 11)); }
.mouse-tracker:nth-of-type(13) { left: calc(((100vw / 20) * 12)); }
.mouse-tracker:nth-of-type(14) { left: calc(((100vw / 20) * 13)); }
.mouse-tracker:nth-of-type(15) { left: calc(((100vw / 20) * 14)); }
.mouse-tracker:nth-of-type(16) { left: calc(((100vw / 20) * 15)); }
.mouse-tracker:nth-of-type(17) { left: calc(((100vw / 20) * 16)); }
.mouse-tracker:nth-of-type(18) { left: calc(((100vw / 20) * 17)); }
.mouse-tracker:nth-of-type(19) { left: calc(((100vw / 20) * 18)); }
.mouse-tracker:nth-of-type(20) { left: calc(((100vw / 20) * 19)); }
.mouse-tracker:nth-of-type(21) { left: calc(((100vw / 20) * 20)); }

.mouse-tracker:nth-of-type(1):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 4); --paralax-img-offset: calc((15px / 10) * 4); --paralax-front-offset: calc((100px / 10) * 4); }
.mouse-tracker:nth-of-type(2):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 3); --paralax-img-offset: calc((15px / 10) * 3); --paralax-front-offset: calc((100px / 10) * 3); }
.mouse-tracker:nth-of-type(3):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 2); --paralax-img-offset: calc((15px / 10) * 2); --paralax-front-offset: calc((100px / 10) * 2); }
.mouse-tracker:nth-of-type(4):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 1); --paralax-img-offset: calc((15px / 10) * 1); --paralax-front-offset: calc((100px / 10) * 1); }
.mouse-tracker:nth-of-type(5):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 1); --paralax-img-offset: calc((15px / 10) * 1); --paralax-front-offset: calc((100px / 10) * 1); }
.mouse-tracker:nth-of-type(6):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 1); --paralax-img-offset: calc((15px / 10) * 1); --paralax-front-offset: calc((100px / 10) * 1); }
.mouse-tracker:nth-of-type(7):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 1); --paralax-img-offset: calc((15px / 10) * 1); --paralax-front-offset: calc((100px / 10) * 1); }
.mouse-tracker:nth-of-type(8):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 1); --paralax-img-offset: calc((15px / 10) * 1); --paralax-front-offset: calc((100px / 10) * 1); }
.mouse-tracker:nth-of-type(9):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 1); --paralax-img-offset: calc((15px / 10) * 1); --paralax-front-offset: calc((100px / 10) * 1); }
.mouse-tracker:nth-of-type(10):hover ~ .content { --paralax-back-offset: calc((-25px / 10) * 1); --paralax-img-offset: calc((15px / 10) * 1); --paralax-front-offset: calc((100px / 10) * 1); }
.mouse-tracker:nth-of-type(11):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 0); --paralax-img-offset: calc((15px / 4) * 0); --paralax-front-offset: calc((-100px / 4) * 0); }
.mouse-tracker:nth-of-type(12):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 1); --paralax-img-offset: calc((-15px / 10) * 1); --paralax-front-offset: calc((-100px / 10) * 1); }
.mouse-tracker:nth-of-type(13):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 2); --paralax-img-offset: calc((-15px / 10) * 2); --paralax-front-offset: calc((-100px / 10) * 2); }
.mouse-tracker:nth-of-type(14):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 3); --paralax-img-offset: calc((-15px / 10) * 3); --paralax-front-offset: calc((-100px / 10) * 3); }
.mouse-tracker:nth-of-type(15):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 4); --paralax-img-offset: calc((-15px / 10) * 4); --paralax-front-offset: calc((-100px / 10) * 4); }
.mouse-tracker:nth-of-type(16):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 4); --paralax-img-offset: calc((-15px / 10) * 4); --paralax-front-offset: calc((-100px / 10) * 4); }
.mouse-tracker:nth-of-type(17):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 4); --paralax-img-offset: calc((-15px / 10) * 4); --paralax-front-offset: calc((-100px / 10) * 4); }
.mouse-tracker:nth-of-type(18):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 4); --paralax-img-offset: calc((-15px / 10) * 4); --paralax-front-offset: calc((-100px / 10) * 4); }
.mouse-tracker:nth-of-type(19):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 4); --paralax-img-offset: calc((-15px / 10) * 4); --paralax-front-offset: calc((-100px / 10) * 4); }
.mouse-tracker:nth-of-type(20):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 4); --paralax-img-offset: calc((-15px / 10) * 4); --paralax-front-offset: calc((-100px / 10) * 4); }
.mouse-tracker:nth-of-type(21):hover ~ .content { --paralax-back-offset: calc((25px / 10) * 4); --paralax-img-offset: calc((-15px / 10) * 4); --paralax-front-offset: calc((-100px / 10) * 4); }